<% include head %>
<div class="row">
  <div class="col-xs-offset-2 col-xs-8">
    <table class="table table-striped SkillTable">
      <thead>
        <tr>
          <th>#</th>
          <th>技能</th>
          <th>进度</th>
        </tr>
      </thead>
      <tbody>
        <% abilities.forEach(function(ability, index) { %>
        <tr>
          <td><%=index%></td>
          <td><%=ability.skill%></td>
          <td>
            <div class="progress SkillProgress">
              <div class="progress-bar progress-bar-success" role="progressbar" style="width:<%- Math.floor(ability.lastScore) %>%">
                <%- Math.floor(ability.lastScore) %>
              </div>
              <div class="progress-bar progress-bar-warning" role="progressbar" style="width:<%- Math.floor(ability.score)-Math.floor(ability.lastScore) %>%">
              </div>
            </div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>

<% include foot %>